topbar {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(80, 80, 80);
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h900 {
    font-size: 48px;
    font-weight: 900;
}

h800 {
    font-size: 48px;
    font-weight: 800;
}

h700 {
    font-size: 48px;
    font-weight: 700;
}

h600 {
    font-size: 48px;
    font-weight: 600;
}

h500 {
    font-size: 48px;
    font-weight: 500;
}